@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-calendar {
  background-color: #eee;
  border: 2px solid #2a2b2a;
}

.react-calendar__navigation {
  height: 48px;
  background-color: #2a2b2a;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: var(--unbounded-font);
}

.react-calendar__navigation__arrow {
  width: 44px;
  font-size: 1.75rem;
  padding-bottom: 4px;
}

.react-calendar__month-view__weekdays {
  font-family: var(--unbounded-font);
  font-size: 0.75rem;
  color: #2a2b2a;
  text-align: center;
  background-color: #ddd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

abbr:where([title]) {
  text-decoration: none;
}

.react-calendar__tile {
  font-family: var(--unbounded-font);
  font-size: 0.75rem;
  color: #2a2b2a;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 2px solid white;
  background-color: white;
}

.react-calendar__tile:disabled {
  background-color: #eee;
  border: 2px solid #eee;
  color: #bbb;
}

.react-calendar__tile--now {
  background-color: #2a2b2a;
  border: 2px solid #2a2b2a;
  color: white;
}

.react-calendar__tile--active {
  border: 2px solid #87cbac;
  text-decoration: underline #87cbac 2px;
  text-underline-offset: 4px;
}
